<!DOCTYPE html>
<html lang="fr">
<head>
     <title>Les Pneus Automobiles: Les Meilleurs Choix pour 2022</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="http://localhost:8000/files/css/bootstrap.min.css">
     <link rel="stylesheet" href="http://localhost:8000/files/css/font-awesome.min.css">
     <link rel="stylesheet" href="http://localhost:8000/files/css/magnific-popup.css">

     <link rel="stylesheet" href="http://localhost:8000/files/css/owl.theme.css">
     <link rel="stylesheet" href="http://localhost:8000/files/css/owl.carousel.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="http://localhost:8000/files/css/tooplate-style.css">

</head>

<body>

<!-- PRE LOADER -->
<div class="preloader">
     <div class="spinner">
          <span class="sk-inner-circle"></span>
     </div>
</div>


<!-- MENU -->
<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
     <div class="container">

          <!-- NAVBAR HEADER -->
          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <!-- lOGO -->
               <a href="#" class="navbar-brand">Pneus Automobiles France</a>
          </div>

          <!-- MENU LINKS -->
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home" class="smoothScroll">Accueil</a></li>
                    <li><a href="#about" class="smoothScroll">À propos</a></li>
                    <li><a href="#service" class="smoothScroll">Service</a></li>  
                    <li><a href="#contact" class="smoothScroll">Contact</a></li>
               </ul>
          </div>

     </div>
</div>


<!-- HOME -->
<section id="home" class="bg-image" style="background-image: url(https://images.pexels.com/photos/4388221/pexels-photo-4388221.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); height: 100vh;">
     <div class="container">
          <div class="row">

               <div class="col-md-8 col-sm-12">
                    <div class="home-text">
                         <h1>Les Pneus Automobiles: Les Meilleurs Choix pour 2022</h1>
                         <ul class="section-btn">
                              <a href="#about" class="smoothScroll"><span data-hover="À propos">À propos</span></a>
                         </ul>
                    </div>
               </div>

          </div>
     </div>     
</section>


<!-- ABOUT -->
<section id="about" class="parallax-section">
     <div class="container">
          <div class="row">
               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="about-info">
                         <h1>Chez Pneus Automobiles France, nous offrons les meilleurs pneus automobiles pour 2022. Nous proposons une large gamme de pneus pour tous les types de véhicules, des voitures aux camions en passant par les motos. Nous offrons des pneus de qualité supérieure à des prix abordables, ainsi que des conseils et des services pour vous aider à trouver le pneu qui vous convient le mieux. Nous sommes fiers de fournir des produits de qualité et des services à nos clients en France et à l'étranger.</h1>
                    </div>
               </div>

          </div>
     </div>
</section>


<!-- SERVICE -->
<section id="service" class="parallax-section">
     <div class="container">
          <img alt="Image" src="https://images.pexels.com/photos/4388221/pexels-photo-4388221.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;fit=crop&amp;h=200&amp;w=280"/>
<h1>
 Les Meilleurs Pneus Automobiles pour 2022
</h1>
<p>
 Chez Pneus Automobiles France, nous offrons les meilleurs pneus automobiles pour 2022. Nous proposons une large gamme de pneus pour tous les types de véhicules, des voitures aux camions en passant par les motos. Nous offrons des pneus de qualité supérieure à des prix abordables, ainsi que des conseils et des services pour vous aider à trouver le pneu qui vous convient le mieux. Nous sommes fiers de fournir des produits de qualité et des services à nos clients en France et à l'étranger.
</p>
<img alt="Image" src="https://images.pexels.com/photos/5090487/pexels-photo-5090487.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;fit=crop&amp;h=200&amp;w=280"/>
<h1>
 Les Pneus Automobiles pour Voitures
</h1>
<p>
 Les pneus pour voitures sont conçus pour offrir une adhérence et une sécurité optimales sur les routes françaises. Nous proposons une gamme complète de pneus pour voitures, allant des pneus toutes saisons aux pneus hiver. Nous offrons également des pneus spécialement conçus pour les voitures de sport et les voitures de luxe. Nous proposons des pneus de qualité supérieure à des prix abordables, ainsi que des conseils et des services pour vous aider à trouver le pneu qui vous convient le mieux.
</p>
<img alt="Image" src="https://images.pexels.com/photos/4913464/pexels-photo-4913464.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;fit=crop&amp;h=200&amp;w=280"/>
<h1>
 Les Pneus Automobiles pour Camions
</h1>
<p>
 Les pneus pour camions sont conçus pour offrir une adhérence et une sécurité optimales sur les routes françaises. Nous proposons une gamme complète de pneus pour camions, allant des pneus toutes saisons aux pneus hiver. Nous offrons également des pneus spécialement conçus pour les camions lourds et les camions de transport. Nous proposons des pneus de qualité supérieure à des prix abordables, ainsi que des conseils et des services pour vous aider à trouver le pneu qui vous convient le mieux.
</p>
<img alt="Image" src="https://images.pexels.com/photos/8243128/pexels-photo-8243128.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;fit=crop&amp;h=200&amp;w=280"/>
<h1>
 Les Pneus Automobiles pour Motos
</h1>
<p>
 Les pneus pour motos sont conçus pour offrir une adhérence et une sécurité optimales sur les routes françaises. Nous proposons une gamme complète de pneus pour motos, allant des pneus toutes saisons aux pneus hiver. Nous offrons également des pneus spécialement conçus pour les motos de course et les motos de tourisme. Nous proposons des pneus de qualité supérieure à des prix abordables, ainsi que des conseils et des services pour vous aider à trouver le pneu qui vous convient le mieux.
</p>
     </div>
</section>


<!-- FOOTER -->
<footer id="contact" style="background-color: rgba(28,42,57,0.9);">
     <div class="container">
          <div class="colContainer">

               <div class="col-contact">
                    <div class="footer-info">
                    	<h2>Contactez nous en un clic</h2>
                         <p><a href="tel:0606060606">tel: 0606060606</a></p>
                         <p><a href="mailto:mailOfTheCompanie@gmail.com">mail: mailOfTheCompanie@gmail.com</a></p>
                    </div>
               </div>

               <div class="col-map">
                    <h2>Ou nous trouve</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.7878806416147!2d8.732477515442387!3d41.918918479219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12da69edd3e1705d%3A0xfb7af1246411e353!2sGoodBarber!5e0!3m2!1sfr!2sfr!4v1671117670564!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                    
               </div>

               <div class="col-social">
               		
                    <h2>About Us</h2>
                    <p>Sed vestibulum posuere ante, eget blandit metus. Morbi sodales feugiat erat, et placerat sapien suscipit ut.</p>
                    <ul class="social-icon">
                         <li><a href="https://fr.goodbarber.com/" class="fa fa-twitter"></a></li>
                         <li><a href="https://fr.goodbarber.com/" class="fa fa-facebook"></a></li>
                         <li><a href="https://fr.goodbarber.com/" class="fa fa-instagram"></a></li> 
                    </ul>
               </div>
          </div>
          <div class="copyright-text">
               <p>
                         Copyright © 2018 Company Name
               </p>
          </div>
     </div>
</footer>

<!-- SCRIPTS -->
<script src="http://localhost:8000/files/js/jquery.js"></script>
<script src="http://localhost:8000/files/js/bootstrap.min.js"></script>
<script src="http://localhost:8000/files/js/jquery.parallax.js"></script>
<script src="http://localhost:8000/files/js/owl.carousel.min.js"></script>
<script src="http://localhost:8000/files/js/jquery.magnific-popup.min.js"></script>
<script src="http://localhost:8000/files/js/magnific-popup-options.js"></script>
<script src="http://localhost:8000/files/js/modernizr.custom.js"></script>
<script src="http://localhost:8000/files/js/smoothscroll.js"></script>
<script src="http://localhost:8000/files/js/custom.js"></script>
